<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone" style="color:#ffaf00"></i> (514)-666-9999
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open" style="color:#ffaf00"></i> terrysamclub@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter" style="color:#1da1f2"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook" style="color:#3b5998"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin" style="color:#0077b5"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram" style="color:#e5001d"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest" style="color:#c8232c"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>